/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Oswald', sans-serif; */

    /* font-family: 'Bangers', cursive; */
    /* font-family: 'Caveat', cursive; */
}

body {
    background-image: linear-gradient(to bottom right,
            rgb(248, 217, 211) 0%, rgb(235, 194, 185) 40%, rgb(203, 218, 188) 60%, rgb(161, 200, 185) 100%);
    background-size: 200% 200%;
    animation: colorChange 5s linear infinite alternate;
}

nav,
.nav-menu {
    background-color: #23967f;
}

.nav-link {
    color: rgb(0, 0, 0, .6);
    font-size: 1.5rem;
    font-family: 'Special Elite', cursive;
}

.lg-nav {
    margin-left: 2rem;
}

.shadow {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.txt-shadow {
    text-shadow: 2px 2px 5px rgb(50, 50, 50, .5);
}

ul>li>a.active {
    color: black;
}
@media (min-width: 768px) {
    ul>li>a.active>i {
        color: #23967f;
    }
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.btn {
    background-color: #23967f;
    color: whitesmoke;
}

.cake-btn {
    background-color: #23967f;
}
#cake-container > div > button {
    font-size: .8rem;
}

.social {
    font-size: 2rem;
}

.top-btn {
    display: none;
    height: 3rem;
    width: 5rem;
    color: black;
    font-size: .8rem;
    font-weight: bold;
    text-decoration: none;
    padding: .5rem;
    border-radius: 50%;
    bottom: 1rem;
    position: fixed;
    z-index: 5000;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

.cupcake {
    width: 2rem;
    height: auto;
}

.menu-btn {
    float: right;
    margin: 0rem 1rem;
    background-color: rgb(255, 255, 255, 0);
    z-index: 10;
    border: none;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
}

.logo>a,
h1,
h3,
h5,
.accordion-button {
    font-family: 'Caveat', cursive;
}

a:hover {
    color: inherit;
}

#animate-nav,
.nav-link:hover {
    color: black;
    text-decoration: none;
    animation-name: nav-slide;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.fa-square-facebook:hover {
    color: #0165E1;
    animation-name: img-swell;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.btn:hover {
    color: whitesmoke;
    animation-name: img-swell;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.fa-square-instagram:hover {
    color: #E4405F;
    animation-name: img-swell;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.form-control {
    width: 100%;
}

.footer-borders {
    border-bottom: 1px solid rgb(37, 37, 37);
}

.footer-borders-about {
    border-bottom: 1px solid #252525;
}

.chimp-tech {
    font-family: 'Caveat', cursive;
    color: whitesmoke
}
.chimp-tech:hover {
    color: whitesmoke;
}

#footer {
    border-top: #23967f 3px solid;
}

/* Bootstrap navbar customization */

.offcanvas {
    background-color: #23967f;
}

.offcanvas-start {
    width: 250px;
}

/* Gallery Page */
#pics {
    height: auto;
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0rem;
}

#pics>a>img {
    width: 100%;
}

#pics>img {
    width: 100%;
}

#pics {
    transform: translateX(0);
    animation: come-in 2s ease forwards;
    opacity: 0;
}

/* Baker page */
.baker-pic {
    box-shadow: 5px 5px 10px 1px;
    object-fit: cover;
    height: 70vh;
}

.text-box {
    background-color: rgb(245, 245, 245, .5);
    padding: 1rem .75rem 0rem .75rem;

}

.come-in {
    transform: translateX(-360px);
    animation: come-in 1s ease forwards;
    opacity: 0;
}

#contact-form {
    transform: translateX(360px);
    animation: come-in 1s ease forwards;
    opacity: 0;
}

/* Cakes page */
#cake-container {
    transform: translateX(0);
    animation: come-in 2s ease forwards;
    opacity: 0;
}

.cake-page {
    object-fit: cover;
    height: 100%;
    width: auto;
}

.cake-btn:hover {
    color: whitesmoke;
    text-decoration: none;
    animation-name: img-swell;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.cake-card {
    padding: 0%;
    margin: 0%;
}
.cake-card:hover {
    color: black;
    text-decoration: none;
    animation-name: img-swell;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.pic-box {
    height: 15rem;
    width: auto;
    padding: .5rem;
    margin: 0;
}

#box-of-cakes {
    display: flex;
}

#occasions {
    display: none;
}

#cupcakes {
    display: none;
}

#savoury {
    display: none;
}

/* Landing Page */
.hero {
    background: url("../images/mobile-hero-compressed.png");
    background-position: 0rem 3rem;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-attachment: fixed;
    top: 0rem;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 10%;
    z-index: 5;
}

#hero-box {
    height: 60vh;
}

.hero-lg-screen {
    background: url("../images/mobile-hero-compressed.png");
    background-repeat: no-repeat;
    /* background-position: 0rem 6rem; */
    text-align: start;
    width: 50%;
    height: 100vh;
    background-size: contain;
    border-radius: 0 0 85% 85% / 10%;
    z-index: 5;
}

/* Testimonials accordion from Bootstrap 5 */
.accordion-button {
    background-color: #23967f;
    color: whitesmoke;
    border: none;
    border-radius: 0;
    text-align: left;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all .5s ease;
}

.accordion-item {
    background-color: rgb(35, 150, 127, .2);
    color: black;
}

.accordion-button:not(.collapsed) {
    color: whitesmoke;
    background-color: rgb(35, 150, 127);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus {
    z-index: 3;
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(35, 150, 127, .25);
}

/* Animations */
@keyframes img-swell {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes come-in {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes nav-slide {
    from {
        transform: translateX();
    }

    to {
        transform: translateX(10px);
    }
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 1rem, 0);
    }
}

@keyframes colorChange {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }
}

/* Media Queries */
/* Mobile Screens */
@media (max-width: 340px) {
    #cake-container > div > button {
        font-size: .6rem;
    }
}
@media (min-width: 450px) {
    #hero-box {
        height: 75vh;
    }
}
@media (min-width: 500px) {
    .form-control {
        width: 50%;
    }
}
@media (min-width: 525px) {
    #hero-box {
        height: 85vh;
    }
}
@media (min-width: 600px) {
    #cake-container > div > button {
        font-size: 1rem;
    }
}

/* Tablet Screens */
@media (max-width: 768px) {
    .logo {
        padding: .5rem 0rem 0rem 1rem;
    }
}
@media (min-width: 768px) {
    .hero {
        background: url("../images/mobile-hero-compressed.png");
        background-position: 1rem 6rem;
        background-repeat: no-repeat;
        text-align: center;
        width: 100%;
        height: 60vh;
        background-size: contain;
        background-attachment: fixed;
        top: 0rem;
        position: relative;
        overflow: hidden;
        border-radius: 0 0 85% 85% / 10%;
        z-index: 5;
    }
    .form-control {
        width: 75%;
    }
    #pics {
        column-count: 3;
    }
    .logo {
        padding: 1rem 0rem 0rem 0rem;
    }
    #hero-box {
        height: 70vh;
    }
}
@media (min-width: 768px) and (max-width: 968px) {
    .footer-borders-about {
        border-bottom: none;
    }
    .baker-pic {
        height: 90vh;
    }
}
@media (min-width: 968px) {
    .footer-borders {
        border: none;
    }
    .footer-borders-about {
        border-bottom: none;
    }
    .footer-borders-4x4 {
        border-top: 1px solid rgb(37, 37, 37);
    }
    .social {
        font-size: 3rem;
    }
}
@media (min-width: 992px) {
    #baker-txt-box {
        margin-top: -20rem;
    }
    #extra-pic {
        margin-top: -40rem;
        margin-bottom: 20rem;
    }
    #pics {
        column-count: 4;
    }
}

/* Small Monitors */
@media (min-width: 992px) and (max-width: 1099px) {
    .hero-lg-screen {
        background-position: 0rem 6rem;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .form-control {
        width: 50%;
    }
}

/* Standard Monitors */
@media (min-width: 1100px) {
    .lg-nav {
        margin-left: 4rem;
    }
}
@media (min-width: 1200px) {
    .footer-borders-4x4 {
        border-top: none;
    }
}


.review {
    display: block;
}