* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    background-image: linear-gradient(to bottom right,
            rgb(248, 217, 211) 0%, rgb(235, 194, 185) 40%, rgb(203, 218, 188) 60%, rgb(161, 200, 185) 100%);
    background-size: 200% 200%;
    animation: colorChange 5s linear infinite alternate;
}

@keyframes colorChange {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }
}

nav,
.nav-menu {
    background-color: #23967f;
}

.nav-link {
    color: rgb(0, 0, 0, .6);
    font-size: 1.5rem;
}

ul>li>a.active {
    color: black;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.btn {
    background-color: #23967f;
}
.cake-btn {
    background-color: #23967f;
}

.social {
    font-size: 2rem;
}

.top-btn {
    height: 3rem;
    width: 5rem;
    /* display: none; */
    color: black;
    font-size: .8rem;
    font-weight: bold;
    text-decoration: none;
    padding: .5rem;
    border-radius: 50%;
    bottom: 1rem;
    position: fixed;
    z-index: 5000;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 1rem, 0);
    }
}

.cupcake {
    width: 2rem;
    height: auto;
}

@media (min-width: 768px) {
    .logo {
        padding: 1rem 0rem 0rem 0rem;
    }
}

#pics {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0rem;
}

#pics>a>img {
    width: 100%;
}

#pics>img {
    width: 100%;
}

/* sidebar test */

.offcanvas {
    background-color: #23967f;
}

.offcanvas-start {
    width: 250px;
}

.menu-btn {
    float: right;
    margin: 0rem 1rem;
    background-color: rgb(255, 255, 255, 0);
    z-index: 10;
    border: none;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .logo {
        padding: .5rem 0rem 0rem 1rem;
    }
}

.logo>a,
h3,
h5 {
    font-family: 'Caveat', cursive;
}

a:hover {
    color: inherit;
}


#animate-nav,
.nav-link:hover,
.fa-brands:hover,
.btn:hover {
    color: black;
    text-decoration: none;
    animation-name: nav-slide;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes nav-slide {
    from {
        transform: translateX();
    }

    to {
        transform: translateX(25px);
    }
}

/* Artist page */
.baker-pic {
    box-shadow: 5px 5px 10px 1px;
    object-fit: cover;
}

.shadow {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.txt-shadow {
    text-shadow: 2px 2px 5px rgb(0, 0, 0, .75);
}

.text-box {
    background-color: rgb(245, 245, 245, .5);
    padding: 1rem .75rem 0rem .75rem;

}

.come-in {
    transform: translateX(360px);
    animation: come-in 1s ease forwards;
    opacity: 0;
}

@keyframes come-in {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.footer-borders {
    border-bottom: 1px solid rgb(37, 37, 37);
}

.footer-borders-about {
    border-bottom: 1px solid #252525;
}


/* possible problem above 968px */
.footer-borders-about {
    border-bottom: none;
}
@media (min-width: 986px) {
    .footer-borders {
        border: none;
    }

    .footer-borders-about {
        border-bottom: none;
    }

    .footer-borders-4x4 {
        border-top: 1px solid rgb(37, 37, 37);
    }
}

@media (min-width: 1240px) {
    .footer-borders-4x4 {
        border-top: none;
    }
}
@media (min-width: 768px) and (max-width: 968px) {
    .footer-borders-about {
        border-bottom: none;
    }
}

.cake-page {
    object-fit: cover;
    height: 100%;
    width: auto;
}

.pic-box {
    height: 10rem;
    width: auto;
    padding: 0;
    margin: 0;
}

#box-of-cakes {
    display: flex;
}

#occasions {
    display: none;
}

#cupcakes {
    display: none;
}

#savoury {
    display: none;
}